<ul>
    <li>
        <a href="{{ path('homepage') | upper }}">Accueil</a>
    </li>
    {% for products in product %}
        <li>
            <a href="{{ http//localhost:8000/product/ ~ product.id }}">{{ product.name }}</a>
        </li>
    {% endfor %}
</ul>
