{% extends 'base.html.twig' %}


{% block body %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Vous êtes enregitré·e</h4>
        <p>Votre inscription à été effectuée avec succès !</p>
        <p class="mb-0">Vous pourrez bientôt avoir accès à votre espace personnel en vous connectant.</p>
    </div>
{% endblock %}
